<div class="main">
  <div class="blog_inner">
  <div class="header_bottom_content"></div>
  <div class="main_top">
    <% if user_signed_in? %>
      <%= link_to "新規投稿", new_blog_path, class: :new_blog_btn %>
    <% end %>

    <%= form_with(url: search_blogs_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "本の名前", class: "search-input" %>
      <%= form.submit "検索する", class: "search-btn" %>
    <% end %>
  </div>
  </div>
  <div class="card_wrapper">
      <%= render partial: 'blog', collection: @blogs %>
  </div>
</div>