<main class="main">
   <div class="inner">
   <div class="top_main_search"></div>
   <div class="main_search">
        <%= link_to "戻る", 'javascript:history.back()', class: :search_back_btn %>
        <%= search_form_for @p, url: search_blogs_path, class: "search-form search-function" do |f| %>
          <%= f.text_field :title_cont, placeholder: "本の名前を検索", class: "search-input" %>
          <br>
          <%= f.label :category_name_eq, 'カテゴリー：' %>
          <%= f.collection_select :category_id_eq, Category.all, :id, :name, include_blank: '指定なし' %>
          <br>
          <%= f.submit '検索', class: "search-btn" %>
        <% end %>
    </div>
    <% if @blogs.length != 0 %>
        <div class="card_wrapper">
            <% @blogs.each do |blog| %>
                <%= render partial: "blog", locals: { blog: blog } %>
            <% end %>
        </div>
    <% else %>
        <h2 class="no_result_text">検索結果が見つかりませんでした</h2>
        <%= image_tag 'think.png', class: :think_img %>
    <% end %>
   </div>
</main>