<main class="main">
   <div class="inner">
   <div class="top_main_search"></div>
   <div class="main_search">
        <%= link_to "戻る", 'javascript:history.back()', class: :search_back_btn %>
        <%= form_with(url: search_blogs_path, local: true, method: :get, class: "search-form search-function") do |form| %>
        <%= form.text_field :keyword, placeholder: "本の名前", class: "search-input" %>
        <%= form.submit "検索する", class: "search-btn" %>
        <% end %>
    </div>
    <% if @blogs.length != 0 %>
        <div class="card_wrapper">
            <% @blogs.each do |blog| %>
                <%= render partial: "blog", locals: { blog: blog } %>
            <% end %>
        </div>
    <% else %>
        <h2 class="no_result_text">検索結果が見つかりませんでした</h2>
        <%= image_tag 'think.png', class: :think_img %>
    <% end %>
   </div>
</main>