<div class="memo">
  <div class="side_bar_area">
    <h3 class="memo_list">＜メモ一覧＞</h2>
    <div class="side_bar_area_child">
      <% @memos.each do |memo| %>
        <div class="book_name">
          <%= link_to "＃#{memo.name}", memo_path(memo) %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="main_area">
    <div class="memo_btn_area">
        <%= link_to "戻る", 'javascript:history.back()', class: :memo_back_btn %>
        <%= link_to "編集", edit_memo_path(@memo), class: :memo_btn %>
        <%= link_to "削除", memo_path(@memo), method: :delete, class: :memo_btn %>
    </div>
    <div class="memo_content">
      <div class="point_area">
        <div class="content_title">要点</div>
            <p class="memo_content_text">
              <%= safe_join(@memo.point.split("\n"),tag(:br)) %>
            </p>
      </div>
    <div class="text_area">
      <div class="content_title">メモ</div>
          <p class="memo_content_text">
            <%= safe_join(@memo.text.split("\n"),tag(:br)) %>
          </p>
      </div>
    </div>
  </div>
</div>